---js
{
	permalink: "/",
	title: "wommy repos",
	repos: {
		"inbox": [
			"jeff",
			"funSpike",
		],
		"clients": [
			"freedomtoons",
			"annabrab",
			"LinuxReport",
			"cutepanda",
			"pockets.pizza",
			"tarpley.us",
			"sem-js",
			"static-pokedex",
			"hempwoodCBD",
			"thehousecycle",
			"lulu_cakes",
			"brent_portfolio",
			"ericJS",
			"rovin_funneler",
			"postcss-preset-env-www",
			"oley_revive",
			"Roommate",
			"jekyll-ogp",
		],
		"projects": [
			"adopt_me",
			"learnnextjs-demo",
			"datocms-gatsby-portfolio",
			"gatsby-source-youtube",
			"restaurant-template-cms",
			"test_hugo",
			"test_forestry",
			"hugo_test",
			"React-For-Beginners-Starter-Files",
			"kaldi-hugo-cms-template",
			"kanban_app",
			"webpack-react-test",
			"test_app3",
			"test_app2"
		],
		"wommy": [
			"repos",
			"mixture-portfolio",
			"wommy-www",
			"rd",
			"technomad_jekyll",
			"technomad_blogposts",
			"mix_11ty",
			"technomad",
			"wommy-technomad_11ty",
			"dotfiles",
			"technomad_blog",
			"technomad_11ty",
			"resume",
			"danielle-cms",
			"technomad_handlebars",
			"technomad_olde",
			"technomad_technomad",
			"wommy",
			"wommy_jekyll",
			"2019_04",
			"w3w",
			"blog",
			"wommy.github.io",
			"w0m.io",
			"jek2jade",
			"jekyll-lanyon",
			"npm_bp_c9-technomad",
			"starter",
		]
	}
}
---
{%- extends "_default.njk" %}
{%- block content %}
<header class="m-2">
	<h1 class="text-2xl my-2">{{ title }}</h1>
	<p>on this simple page i am organizing my github repos</p>
</header>
<section class="m-2 flex">
	<div class="w-1/3">
		<ol class="list-decimal list-outside pl-8 mb-4">
			<header>inbox</header>
			{%- for repo in repos.inbox %}
			<li>
				<a href="//github.com/wommy/{{ repo }}" class="text-indigo-600 visited:text-indigo-800 underline" target="_blank">{{ repo }}</a>
			</li>
			{%- endfor %}
		</ol>
		<ol class="list-decimal list-outside pl-8">
			<header>projects</header>
			{%- for repo in repos.projects %}
			<li>
				<a href="//github.com/wommy/{{ repo }}" class="text-indigo-600 visited:text-indigo-800 underline" target="_blank">{{ repo }}</a>
			</li>
			{%- endfor %}
		</ol>
	</div>
	<div class="w-1/3">
		<ol class="list-decimal list-outside pl-8 mb-4">
			<header>clients</header>
			{%- for repo in repos.clients %}
			<li>
				<a href="//github.com/wommy/{{ repo }}" class="text-indigo-600 visited:text-indigo-800 underline" target="_blank">{{ repo }}</a>
			</li>
			{%- endfor %}
		</ol>
	</div>
	<div class="w-1/3">
		<ol class="list-decimal list-outside pl-8 mb-4">
			<header>wommy</header>
			{%- for repo in repos.wommy %}
			<li>
				<a href="//github.com/wommy/{{ repo }}" class="text-indigo-600 visited:text-indigo-800 underline" target="_blank">{{ repo }}</a>
			</li>
			{%- endfor %}
		</ol>
	</div>
</section>
{%- endblock %}
